@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,jsx,ts,tsx}";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
}
